extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each plant in plants_in_category
      li 
        a(href=plant.url) #{plant.name}
  a(href=`/update-category?id=${id}`)
    button Update Category