extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each plant in plants_in_category
      li 
        a(href=`/${plant.c_uri}/${plant.p_uri}`) #{plant.name}
  a(href=`/update-category?id=${id}`)
    button Update Category
  a(href=`/delete-category?id=${id}`)
    button Delete Category  